<!DOCTYPE html>
<html>
<head>
    <title>Análisis final</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='cdnjs.cloudflare.com_ajax_libs_html2pdf.js_0.9.3_html2pdf.bundle.min.js') }}"></script>
    <style>
    .slidecontainer {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 25px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: #04AA6D;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #04AA6D;
      cursor: pointer;
    }
    </style>
</head>
<body>
<div id='content_of_report'>
<h1>Análisis final de ingresos, egresos y ganancias</h1>
<table class="final_analysis">
  <tr>
    <td class="right-align"><b>Producto:</b></td>
    <td class="left-align"><em>{{ producto }}</em></td>
  </tr>
  <tr>
    <td class="right-align"><b>Cantidad producida:</b></td>
    <td class="left-align"><em>{{ cantidad_vendida }} {{ unidad }}</em></td>
  </tr>
  <tr>
    <td class="right-align"><b>Costos totales:</b></td>
    <td class="left-align"><em>{{ costos_totales }}</em></td>
  </tr>
  {% if costos_totales_sin_autoempleo != costos_totales %}
  <tr>
    <td class="right-align"><b>Costos totales (sin autoempleo):</b></td>
    <td class="left-align"><em>{{ costos_totales_sin_autoempleo }}</em></td>
  </tr>
  {% endif %}
  <tr>
    <td class="right-align"><b>Costos por unidad:</b></td>
    <td class="left-align"><em>{{ costos_totales_por_unidad }}</em></td>
  </tr>
  {% if costos_totales_sin_autoempleo != costos_totales %}
  <tr>
    <td class="right-align"><b>Costos por unidad (sin autoempleo):</b></td>
    <td class="left-align"><em>{{ costos_totales_por_unidad_sin_autoempleo }}</em></td>
  </tr>
  {% endif %}
  </table>
  <br>
  <div class="avoid-page-break">
  <table>
        <p class="special_header"><b>Resumen de costos</b>{% if impuestos_venta %} (no incluye impuestos sobre la venta){% endif %}:</p>
        <p class="slider_instructions">La siguiente tabla ofrece distintas opciones de categorización de costos. La suma de las filas contenidas entre líneas verdes siempre equivale al 100% de los costos totales ({{ costos_totales }}).</p>
    {% if costos_autoempleo_totales > 0.001 %}
        <tr>
            <th>Categoría <span>de</span> costos</th>
            <th>Total <span>de la</span><br>categoría</th>
            <th>% de los<br>costos totales</th>
            <th>% <span>del</span> total sin<br>autoempleo</th>
        </tr>
        <tr>
            <td colspan="4" class="separator"></td>
        </tr>
        <tr>
            <td>Variables<sup class="footnote"><b>1</b></sup></td>
            <td>{{ costos_variables_totales }}</td>
            <td>{{ costos_variables_totales_porcent_total }}</td>
            <td>{{ costos_variables_totales_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Fijos<sup class="footnote"><b>2</b></sup></td>
            <td>{{ costos_fijos_totales }}</td>
            <td>{{ costos_fijos_totales_porcent_total }}</td>
            <td>{{ costos_fijos_totales_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td colspan="4" class="separator"></td>
        </tr>
        <tr>
            <td>Variables sin autoempleo<sup class="footnote"><b>3</b></sup></td>
            <td>{{ costos_variables_totales_sin_autoempleo }}</td>
            <td>{{ costos_variables_totales_sin_autoempleo_porcent_total }}</td>
            <td>{{ costos_variables_totales_sin_autoempleo_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Autoempleo actividades<sup class="footnote"><b>4</b></sup></td>
            <td>{{ costos_autoempleo_actividades_totales }}</td>
            <td>{{ costos_autoempleo_actividades_totales_porcent_total }}</td>
            <td>{{ costos_autoempleo_actividades_totales_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Fijos sin autoempleo<sup class="footnote"><b>5</b></sup></td>
            <td>{{ costos_fijos_totales_sin_autoempleo }}</td>
            <td>{{ costos_fijos_totales_sin_autoempleo_porcent_total }}</td>
            <td>{{ costos_fijos_totales_sin_autoempleo_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Autoempleo fijo<sup class="footnote"><b>6</b></sup></td>
            <td>{{ sueldos_fijos_autoempleo }}</td>
            <td>{{ sueldos_fijos_autoempleo_porcent_total }}</td>
            <td>{{ sueldos_fijos_autoempleo_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td colspan="4" class="separator"></td>
        </tr>
        <tr>
            <td>Laborales<sup class="footnote"><b>7</b></sup></td>
            <td>{{ costos_laborales_totales }}</td>
            <td>{{ costos_laborales_totales_porcent_total }}</td>
            <td>{{ costos_laborales_totales_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Insumos<sup class="footnote"><b>8</b></sup></td>
            <td>{{ costos_insumos_totales }}</td>
            <td>{{ costos_insumos_totales_porcent_total }}</td>
            <td>{{ costos_insumos_totales_porcent_total_sin }}</td>
        </tr>
        {% if impuestos_fijos %}
        <tr>
            <td>Impuestos fijos</td>
            <td>{{ impuestos_fijos_totales }}</td>
            <td>{{ impuestos_fijos_totales_porcent_total }}</td>
            <td>{{ impuestos_fijos_totales_porcent_total_sin }}</td>
        </tr>
        {% endif %}
        {% if costos_certificacion %}
        <tr>
            <td>Certificación</td>
            <td>{{ costos_certificacion_totales }}</td>
            <td>{{ costos_certificacion_totales_porcent_total }}</td>
            <td>{{ costos_certificacion_totales_porcent_total_sin }}</td>
        </tr>
        {% endif %}
        {% if costos_exportacion %}
        <tr>
            <td>Exportación</td>
            <td>{{ costos_exportacion_totales }}</td>
            <td>{{ costos_exportacion_totales_porcent_total }}</td>
            <td>{{ costos_exportacion_totales_porcent_total_sin }}</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="4" class="separator"></td>
        </tr>
        <tr>
            <td>Empleo<sup class="footnote"><b>9</b></sup></td>
            <td>{{ costos_laborales_totales_sin_autoempleo }}</td>
            <td>{{ costos_laborales_totales_sin_autoempleo_porcent_total }}</td>
            <td>{{ costos_laborales_totales_sin_autoempleo_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Autoempleo<sup class="footnote"><b>10</b></sup></td>
            <td>{{ costos_autoempleo_totales }}</td>
            <td>{{ costos_autoempleo_totales_porcent_total }}</td>
            <td>{{ costos_autoempleo_totales_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Insumos fijos<sup class="footnote"><b>11</b></sup></td>
            <td>{{ costos_insumos_fijos_totales }}</td>
            <td>{{ costos_insumos_fijos_totales_porcent_total }}</td>
            <td>{{ costos_insumos_fijos_totales_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Insumos actividades<sup class="footnote"><b>12</b></sup></td>
            <td>{{ costos_insumos_actividades_totales }}</td>
            <td>{{ costos_insumos_actividades_totales_porcent_total }}</td>
            <td>{{ costos_insumos_actividades_totales_porcent_total_sin }}</td>
        </tr>
        {% if impuestos_fijos %}
        <tr>
            <td>Impuestos fijos</td>
            <td>{{ impuestos_fijos_totales }}</td>
            <td>{{ impuestos_fijos_totales_porcent_total }}</td>
            <td>{{ impuestos_fijos_totales_porcent_total_sin }}</td>
        </tr>
        {% endif %}
        {% if costos_certificacion %}
        <tr>
            <td>Certificación</td>
            <td>{{ costos_certificacion_totales }}</td>
            <td>{{ costos_certificacion_totales_porcent_total }}</td>
            <td>{{ costos_certificacion_totales_porcent_total_sin }}</td>
        </tr>
        {% endif %}
        {% if costos_exportacion %}
        <tr>
            <td>Exportación</td>
            <td>{{ costos_exportacion_totales }}</td>
            <td>{{ costos_exportacion_totales_porcent_total }}</td>
            <td>{{ costos_exportacion_totales_porcent_total_sin }}</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="4" class="separator"></td>
        </tr>
        <tr>
            <td>Empleo actividades<sup class="footnote"><b>13</b></sup></td>
            <td>{{ costos_empleo_actividades_totales }}</td>
            <td>{{ costos_empleo_actividades_totales_porcent_total }}</td>
            <td>{{ costos_empleo_actividades_totales_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Autoempleo actividades<sup class="footnote"><b>4</b></sup></td>
            <td>{{ costos_autoempleo_actividades_totales }}</td>
            <td>{{ costos_autoempleo_actividades_totales_porcent_total }}</td>
            <td>{{ costos_autoempleo_actividades_totales_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Insumos actividades<sup class="footnote"><b>12</b></sup></td>
            <td>{{ costos_insumos_actividades_totales }}</td>
            <td>{{ costos_insumos_actividades_totales_porcent_total }}</td>
            <td>{{ costos_insumos_actividades_totales_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Empleo fijo<sup class="footnote"><b>14</b></sup></td>
            <td>{{ sueldos_fijos_totales_sin_autoempleo }}</td>
            <td>{{ sueldos_fijos_totales_sin_autoempleo_porcent_total }}</td>
            <td>{{ sueldos_fijos_totales_sin_autoempleo_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Autoempleo fijo<sup class="footnote"><b>6</b></sup></td>
            <td>{{ sueldos_fijos_autoempleo }}</td>
            <td>{{ sueldos_fijos_autoempleo_porcent_total }}</td>
            <td>{{ sueldos_fijos_autoempleo_porcent_total_sin }}</td>
        </tr>
        <tr>
            <td>Insumos fijos<sup class="footnote"><b>11</b></sup></td>
            <td>{{ costos_insumos_fijos_totales }}</td>
            <td>{{ costos_insumos_fijos_totales_porcent_total }}</td>
            <td>{{ costos_insumos_fijos_totales_porcent_total_sin }}</td>
        </tr>
        {% if impuestos_fijos %}
        <tr>
            <td>Impuestos fijos</td>
            <td>{{ impuestos_fijos_totales }}</td>
            <td>{{ impuestos_fijos_totales_porcent_total }}</td>
            <td>{{ impuestos_fijos_totales_porcent_total_sin }}</td>
        </tr>
        {% endif %}
        {% if costos_certificacion %}
        <tr>
            <td>Certificación</td>
            <td>{{ costos_certificacion_totales }}</td>
            <td>{{ costos_certificacion_totales_porcent_total }}</td>
            <td>{{ costos_certificacion_totales_porcent_total_sin }}</td>
        </tr>
        {% endif %}
        {% if costos_exportacion %}
        <tr>
            <td>Exportación</td>
            <td>{{ costos_exportacion_totales }}</td>
            <td>{{ costos_exportacion_totales_porcent_total }}</td>
            <td>{{ costos_exportacion_totales_porcent_total_sin }}</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="4" class="separator"></td>
        </tr>
    </table>
    </div>
    <p class="footnote_paragraph"><b class="footnote">1</b>: Los costos variables son aquellos que aumentan si la cantidad producida aumenta. Incluyen los costos de las actividades del proceso productivo, los costos de certificación y los costos de exportación.</p>
    <p class="footnote_paragraph"><b class="footnote">2</b>: Los costos fijos son aquellos que se mantienen constantes sin importar la cantidad producida. Incluyen los costos indicados por el usuario en las páginas de costos fijos e impuestos fijos.</p>
    <p class="footnote_paragraph"><b class="footnote">3</b>: Esta categoría sólo incluye los costos variables que implican un gasto monetario, excluyendo los costos de autoempleo.</p>
    <p class="footnote_paragraph"><b class="footnote">4</b>: Incluye únicamente los costos de autoempleo de las actividades del proceso productivo.</p>
    <p class="footnote_paragraph"><b class="footnote">5</b>: Esta categoría sólo incluye los costos fijos que implican un gasto monetario, excluyendo los costos de autoempleo.</p>
    <p class="footnote_paragraph"><b class="footnote">6</b>: Incluye únicamente los costos de autoempleo fijos.</p> 
    <p class="footnote_paragraph"><b class="footnote">7</b>: Los costos laborales incluyen los costos de empleo y autoempleo, tanto de los sueldos fijos como de los costos de mano de obra de las actividades del proceso productivo.</p>
    <p class="footnote_paragraph"><b class="footnote">8</b>: Incluye tanto los costos de insumos fijos como los costos de insumos de las actividades del proceso productivo.</p>
    <p class="footnote_paragraph"><b class="footnote">9</b>: Esta categoría incluye todos los sueldos pagados, tanto los sueldos fijos como los costos de mano de obra de las actividades del proceso productivo, excluyendo costos de autoempleo.</p> 
    <p class="footnote_paragraph"><b class="footnote">10</b>: Incluye todos los costos de autoempleo, tanto los fijos como los que forman parte de las actividades del proceso productivo.</p>
    <p class="footnote_paragraph"><b class="footnote">11</b>: Incluye únicamente los costos de insumos fijos.</p> 
    <p class="footnote_paragraph"><b class="footnote">12</b>: Incluye únicamente los costos de insumos de las actividades del proceso productivo.</p> 
    <p class="footnote_paragraph"><b class="footnote">13</b>: Incluye únicamente las remuneraciones pagadas como parte de las actividades del proceso productivo, excluyendo el autoempleo.</p> 
    <p class="footnote_paragraph"><b class="footnote">14</b>: Incluye únicamente los sueldos fijos pagados, excluyendo el autoempleo.</p> 
    {% else %}
    <table>
        <tr>
            <th>Categoría de costos</th>
            <th>Total de la categoría</th>
            <th>% de los costos totales</th>
        </tr>
        <tr>
            <td colspan="4" class="separator"></td>
        </tr>
        <tr>
            <td>Variables<sup class="footnote"><b>1</b></sup></td>
            <td>{{ costos_variables_totales }}</td>
            <td>{{ costos_variables_totales_porcent_total }}</td>
        </tr>
        <tr>
            <td>Fijos<sup class="footnote"><b>2</b></sup></td>
            <td>{{ costos_fijos_totales }}</td>
            <td>{{ costos_fijos_totales_porcent_total }}</td>
        </tr>
        <tr>
            <td colspan="4" class="separator"></td>
        </tr>
        <tr>
            <td>Laborales<sup class="footnote"><b>3</b></sup></td>
            <td>{{ costos_laborales_totales }}</td>
            <td>{{ costos_laborales_totales_porcent_total }}</td>
        </tr>
        <tr>
            <td>Insumos<sup class="footnote"><b>4</b></sup></td>
            <td>{{ costos_insumos_totales }}</td>
            <td>{{ costos_insumos_totales_porcent_total }}</td>
        </tr>
        {% if impuestos_fijos %}
        <tr>
            <td>Impuestos fijos</td>
            <td>{{ impuestos_fijos_totales }}</td>
            <td>{{ impuestos_fijos_totales_porcent_total }}</td>
        </tr>
        {% endif %}
        {% if costos_certificacion %}
        <tr>
            <td>Certificación</td>
            <td>{{ costos_certificacion_totales }}</td>
            <td>{{ costos_certificacion_totales_porcent_total }}</td>
        </tr>
        {% endif %}
        {% if costos_exportacion %}
        <tr>
            <td>Exportación</td>
            <td>{{ costos_exportacion_totales }}</td>
            <td>{{ costos_exportacion_totales_porcent_total }}</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="4" class="separator"></td>
        </tr>
        <tr>
            <td>Mano de obra actividades<sup class="footnote"><b>5</b></sup></td>
            <td>{{ costos_laborales_actividades_totales }}</td>
            <td>{{ costos_laborales_actividades_totales_porcent_total }}</td>
        </tr>
        <tr>
            <td>Insumos actividades<sup class="footnote"><b>6</b></sup></td>
            <td>{{ costos_insumos_actividades_totales }}</td>
            <td>{{ costos_insumos_actividades_totales_porcent_total }}</td>
        </tr>
        <tr>
            <td>Sueldos fijos<sup class="footnote"><b>7</b></sup></td>
            <td>{{ sueldos_fijos_totales }}</td>
            <td>{{ sueldos_fijos_totales_porcent_total }}</td>
        </tr>
        <tr>
            <td>Insumos fijos<sup class="footnote"><b>8</b></sup></td>
            <td>{{ costos_insumos_fijos_totales }}</td>
            <td>{{ costos_insumos_fijos_totales_porcent_total }}</td>
        </tr>
        {% if impuestos_fijos %}
        <tr>
            <td>Impuestos fijos</td>
            <td>{{ impuestos_fijos_totales }}</td>
            <td>{{ impuestos_fijos_totales_porcent_total }}</td>
        </tr>
        {% endif %}
        {% if costos_certificacion %}
        <tr>
            <td>Certificación</td>
            <td>{{ costos_certificacion_totales }}</td>
            <td>{{ costos_certificacion_totales_porcent_total }}</td>
        </tr>
        {% endif %}
        {% if costos_exportacion %}
        <tr>
            <td>Exportación</td>
            <td>{{ costos_exportacion_totales }}</td>
            <td>{{ costos_exportacion_totales_porcent_total }}</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="4" class="separator"></td>
        </tr>
    </table>
    </div>
    <p class="footnote_paragraph"><b class="footnote">1</b>: Los costos variables son aquellos que aumentan si la cantidad producida aumenta. Incluyen los costos de las actividades del proceso productivo, los costos de certificación y los costos de exportación.</p>
    <p class="footnote_paragraph"><b class="footnote">2</b>: Los costos fijos son aquellos que se mantienen constantes sin importar la cantidad producida. Incluyen los costos indicados por el usuario en las páginas de costos fijos e impuestos fijos.</p>
    <p class="footnote_paragraph"><b class="footnote">3</b>: Los costos laborales incluyen tanto los sueldos fijos como los costos de mano de obra de las actividades del proceso productivo.</p>
    <p class="footnote_paragraph"><b class="footnote">4</b>: Incluye tanto los costos de insumos fijos como los costos de insumos de las actividades del proceso productivo.</p>
    <p class="footnote_paragraph"><b class="footnote">5</b>: Esta categoría sólo incluye los costos de mano de obra de las actividades del proceso productivo.</p>
    <p class="footnote_paragraph"><b class="footnote">6</b>: Incluye únicamente los costos de insumos de las actividades del proceso productivo.</p>
    <p class="footnote_paragraph"><b class="footnote">7</b>: Incluye únicamente las remuneraciones o sueldos fijos.</p>
    <p class="footnote_paragraph"><b class="footnote">8</b>: Incluye únicamente los costos de insumos fijos.</p> 
    {% endif %}
    <br>
    
    <div class="avoid-page-break">
    <table>
    <p class="special_header"><b>Calculadora interactiva de ganancias</b></p>
    <p class="slider_instructions">Haga clic en el cubo verde y deslícelo hacia la derecha para cambiar el precio de venta por unidad.</p>
    <div class="slidecontainer">
    <input type="range" class="slider" min="0" max="{{ costos_totales_por_unidad * 10 }}" value="0" step="1" id="slider">
    </div>

        <tr>
            <th>Indicadores financieros</th>
            <th>Valores</th>
        </tr>
        <tr>
            <td>Núm. de unidades producidas ({{ unidad }})</td>
            <td>{{ cantidad_vendida }}</td>
        </tr>
        <tr>
            <td style="background-color: rgba(4, 170, 109, 0.6);">Precio de venta por unidad</td>
            <td id="precioCell" style="background-color: rgba(4, 170, 109, 0.6);">0</td>
        </tr>
        <tr>
            <td>Ingresos totales{% if impuestos_venta %}<sup class="footnote"><b>✱</b></sup>{% endif %}</td>
            <td id="ingresosTotalesValue">0</td>
        </tr>
        <tr>
            <td>Ganancias brutas (sin considerar costos de autoempleo)</td>
            <td id="gananciasBrutasValue">{{ costos_totales_sin_autoempleo * (-1) }}</td>
        </tr>
        <tr>
            <td>Ganancias netas (consideran costos de autoempleo)</td>
            <td id="gananciasNetasValue">{{ costos_totales * (-1) }}</td>
        </tr>
        <tr>
            <td>Ganancias brutas por unidad</td>
            <td id="gananciasBrutasPorUnidadValue">{{ '%.2f'|format((costos_totales_sin_autoempleo * (-1)) / cantidad_vendida) }}</td>
        </tr>
        <tr>
            <td>Ganancias netas por unidad</td>
            <td id="gananciasNetasValuePorUnidadValue">{{ '%.2f'|format((costos_totales * (-1)) / cantidad_vendida) }}</td>
        </tr>
        <tr>
            <td>Margen de rentabilidad<sup class="footnote"><b>a</b></sup></td>
            <td id="margenDeRentabilidadValue"></td>
        </tr>
        {% if costos_fijos_totales %}
        <tr>
            <td>Punto de equilibrio<sup class="footnote"><b>b</b></sup></td>
            <td id="puntoDeEquilibrioValue"></td>
        </tr>
        {% endif %}
        {% if impuestos_venta %}
        <tr>
            <td>Impuestos sobre la venta</td>
            <td id="costosImpuestosValue">0</td>
        </tr>
        {% endif %}
    </table>
</div>
    {% if impuestos_venta %}
    <p class="footnote_paragraph">
    <b class="footnote">✱</b> Este indicador y todos los demás indicadores de la tabla consideran los siguientes impuestos:
    {% for impuesto in impuestos_venta %}
        {{ impuesto[0] }} ({{ impuesto[1]*100 }}% sobre la venta de {{ impuesto[2] }} {{ unidad }}){% if not loop.last %}, {% else %}.{% endif %}
    {% endfor %}
    </p>
    {% endif %}
    <p class="footnote_paragraph"><b class="footnote">a</b>: El margen de rentabilidad indica qué porcentaje de los ingresos son ganancias. Se calcula dividiendo las ganancias netas entre los ingresos totales.</p>
    {% if costos_fijos_totales %}
    <p class="footnote_paragraph"><b class="footnote">b</b>: El punto de equilibrio es la cantidad mínima de unidades que usted debe producir y vender para cubrir todos sus costos y no tener ganancias ni pérdidas.</p>
    {% endif %}
    <br>

    <div class="avoid-page-break">
    <p class="special_header" style="margin-bottom: 1px;"><b>Desglose completo de costos</b></p>
    <div class="center-aligned">
    {% if trabajo_actividades %}
    <div class="avoid-page-break">
    <p class="special_sub_header">Costos laborales actividades</p>
    <table>
        <tr>
            <th>Actividad</th>
            <th>Trabajo</th>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Costo<br>unidad</th>
            <th>Auto-<br>empleo</th>
            <th>Costo<br>total</th>
        </tr>
        {% for sublist in trabajo_actividades %}
            {% for item in sublist %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    <td>{{ item[6] }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% if insumos_actividades %}
    <div class="avoid-page-break">
    <p class="special_sub_header">Costos insumos actividades</p>
    <table>
        <tr>
            <th>Actividad</th>
            <th>Insumo</th>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Costo<br>unidad</th>
            <th>Costo<br>total</th>
        </tr>
        {% for sublist in insumos_actividades %}
            {% for item in sublist %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% if sueldos_fijos %}
    <div class="avoid-page-break">
    <p class="special_sub_header">Sueldos fijos</p>
    <table>
        <tr>
            <th>Trabajo</th>
            <th>Núm de<br><span>hrs., días,<br>meses</span></th>
            <th>Sueldo<span><br>por hora,<br>día o mes</span></th>
            <th>Porcen-<br>taje</th>
            <th>Auto-<br>empleo</th>
            <th>Costo<br>total</th>
        </tr>
        {% for sublist in sueldos_fijos %}
        <tr>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}</td>
            <td>{{ sublist[3] }}</td>
            <td>{{ sublist[4] }}%</td>
            <td>{{ sublist[5] }}</td>
            <td>{{ sublist[6] }}</td>            
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% if costos_fijos %}
    <div class="avoid-page-break">
    <p class="special_sub_header">Costos fijos no salariales</p>
    <table>
        <tr>
            <th>Descrip.<br><span>del</span> costo</th>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Costo <span>por</span><br>unidad</th>
            <th>Porcen-<br>taje</th>
            <th>Costo<br>total</th>
        </tr>
        {% for sublist in costos_fijos %}
        <tr>
            <td>{{ sublist[0] }}</td>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}</td>
            <td>{{ sublist[3] }}</td>
            <td>{{ sublist[4] }}%</td>
            <td>{{ sublist[5] }}</td>          
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}     
    {% if impuestos_fijos %}
    <div class="avoid-page-break">
    <p class="special_sub_header">Impuestos fijos</p>
    <table>
        <tr>
            <th>Nombre<br><span>del</span> impuesto</th>
            <th>Monto</th>
            <th>Porcen-<br>taje</th>
            <th>Costo<br>total</th>
        </tr>
        {% for sublist in impuestos_fijos %}
        <tr>
            <td>{{ sublist[0] }}</td>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}%</td>
            <td>{{ sublist[3] }}</td>          
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}     
    {% if costos_certificacion %}
    <div class="avoid-page-break">
    <p class="special_sub_header">Costos de certificación</p>
    <table>
        <tr>
            <th>Certificación</th>
            <th>Costo</th>
            <th>Porcen-<br>taje</th>
            <th>Costo<br>total</th>
        </tr>
        {% for sublist in costos_certificacion %}
        <tr>
            <td>{{ sublist[0] }}</td>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}%</td>
            <td>{{ sublist[3] }}</td>          
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% if costos_exportacion %}
    <div class="avoid-page-break">
    <p class="special_sub_header">Costos de exportación</p>
    <table>
        <tr>
            <th>Descr. <span>del</span><br>costo/impuesto</th>
            <th>Monto <span>por<br>unidad/cargamento</span></th>
            <th>Núm. <span>de<br>unidades/cargamentos</span></th>
            <th>Costo<br>total</th>
        </tr>
        {% for sublist in costos_exportacion %}
        <tr>
            <td>{{ sublist[0] }}</td>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}</td>
            <td>{{ sublist[3] }}</td>          
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}

    </div>
    </div>
    </div>
    <div class="center-aligned">
    <br>
    <button id="button" class="send_form">IMPRIMIR REPORTE FINAL<br>EN FORMATO PDF</button>
    <br>
    <br>
    <button id="deleteButton" class="send_form" style="background-color: #FF4F4B;"><b>BORRAR TODO Y<br>REGRESAR A INICIO</b></button>
    <div id="confirmationModal" class="modal-reset">
      <div class="modal-reset-content">
        <p>¿Está seguro/a de querer borrar todo y regresar a la página de inicio?</p>
        <div>
          <button class="send_form" id="confirmYes">Sí</button>
          <button class="send_form" id="confirmNo">No</button>
        </div>
      </div>
    </div>
    </div>
    <script>
        // Function to show the confirmation modal
        function showConfirmationModal() {
          const modal = document.getElementById("confirmationModal");
          modal.style.display = "block";
        }

        // Function to close the confirmation modal
        function closeConfirmationModal() {
          const modal = document.getElementById("confirmationModal");
          modal.style.display = "none";
        }

        // Function to redirect to the index page
        function redirectToIndexPage() {
          window.location.href = "/";
        }

        // Event listener for the "Borrar todo y regresar a inicio" button
        document.getElementById("deleteButton").addEventListener("click", showConfirmationModal);

        // Event listener for the "Sí" button in the confirmation modal
        document.getElementById("confirmYes").addEventListener("click", function() {
          redirectToIndexPage();
        });

        // Event listener for the "No" button in the confirmation modal
        document.getElementById("confirmNo").addEventListener("click", function() {
          closeConfirmationModal();
        });
    </script>
    <script>
      const btn = document.getElementById("button");

      btn.addEventListener("click", function() {
        var element = document.getElementById('content_of_report');
        var opt = {
          margin: 2.7,
          filename: 'analisis_costos_produccion.pdf',
        };

        // Set the configuration options before calling the .from().save() function
        html2pdf().set({
          pagebreak: { mode: 'avoid-all' }
        }).from(element).set(opt).save();
      });
    </script>
    <script>
        let impuestosVenta = {{ impuestos_venta|tojson }};
        let cantidadVendida = {{ cantidad_vendida }};
        let costosTotales = {{ costos_totales }};
        let costosTotalesSinAutoempleo = {{ costos_totales_sin_autoempleo }};
        let costosVariablesTotalesPorUnidad = {{ costos_variables_totales_por_unidad }};
        let costosFijosTotales = {{ costos_fijos_totales }};
        let costosImpuestos = 0;
        let precio = 0;

        function updatePrecioCell() {
            document.getElementById("precioCell").textContent = precio;
        }

        function updateImpuestosVenta() {
            if (costosImpuestos > 0) {
                let formattedCostosImpuestos = costosImpuestos.toFixed(2);
                document.getElementById("costosImpuestosValue").textContent = formattedCostosImpuestos;
            }
        }

        function updateIngresosTotales() {
            let ingresosTotales = precio * cantidadVendida;
            ingresosTotales -= costosImpuestos;
            let formattedIngresosTotales = ingresosTotales.toFixed(2);
            document.getElementById("ingresosTotalesValue").textContent = formattedIngresosTotales;
        }
        
        function updateGananciasBrutas() {
            let gananciasBrutas = (precio * cantidadVendida) - costosTotalesSinAutoempleo - costosImpuestos;
            let formattedGananciasBrutas = gananciasBrutas.toFixed(2);
            document.getElementById("gananciasBrutasValue").textContent = formattedGananciasBrutas;
        }

        function updateGananciasNetas() {
            let gananciasNetas = (precio * cantidadVendida) - costosTotales - costosImpuestos;
            let formattedGananciasNetas = gananciasNetas.toFixed(2);
            document.getElementById("gananciasNetasValue").textContent = formattedGananciasNetas;
        }

        function updateGananciasBrutasPorUnidad() {
            let gananciasBrutasPorUnidad = ((precio * cantidadVendida) - costosTotalesSinAutoempleo - costosImpuestos) / cantidadVendida;
            let formattedGananciasBrutasPorUnidad = gananciasBrutasPorUnidad.toFixed(2)
            document.getElementById("gananciasBrutasPorUnidadValue").textContent = formattedGananciasBrutasPorUnidad;
        }

        function updateGananciasNetasPorUnidad() {
            let gananciasNetasPorUnidad = ((precio * cantidadVendida) - costosTotales - costosImpuestos) / cantidadVendida;
            let formattedGananciasNetasPorUnidad = gananciasNetasPorUnidad.toFixed(2);
            document.getElementById("gananciasNetasValuePorUnidadValue").textContent = formattedGananciasNetasPorUnidad;
        }

        function updateMargenDeRentabilidad() {
            let margenDeRentabilidad = (((precio * cantidadVendida) - costosTotales - costosImpuestos) / (precio * cantidadVendida)) * 100;
            let formattedMargenDeRentabilidad = margenDeRentabilidad.toFixed(2);
            document.getElementById("margenDeRentabilidadValue").textContent = formattedMargenDeRentabilidad + "%";
        }

        function updatePuntoDeEquilibrio() {
            if (costosFijosTotales > 0) {
                let puntoDeEquilibrio = costosFijosTotales / (precio - costosVariablesTotalesPorUnidad - (costosImpuestos/cantidadVendida));
                let formattedPuntoDeEquilibrio = puntoDeEquilibrio.toFixed(2)
                document.getElementById("puntoDeEquilibrioValue").textContent = formattedPuntoDeEquilibrio;
            }
        }

        // Update the value of "precio" inside the table cell and the variable when the slider is moved
        document.getElementById("slider").addEventListener("input", function() {
            precio = parseInt(this.value);

            costosImpuestos = 0;
            if (impuestosVenta !== null && impuestosVenta.length > 0) {
                // Iterate through each sublist in impuestosVenta and calculate the sum of the last element in each sublist
                for (let i = 0; i < impuestosVenta.length; i++) {
                    let sublist = impuestosVenta[i];
                    let precioMultiplication = precio * sublist[1] * sublist[2];
                    costosImpuestos += precioMultiplication;
                }
            }

            updateIngresosTotales();
            updatePrecioCell();
            updateGananciasBrutas();
            updateGananciasNetas();
            updateGananciasBrutasPorUnidad();
            updateGananciasNetasPorUnidad();
            updateMargenDeRentabilidad();
            updatePuntoDeEquilibrio();
            updateImpuestosVenta();
        });

        // Initial calculations on page load
        updateGananciasBrutas();
        updateIngresosTotales();
        updatePrecioCell();
        updateGananciasNetas();
        updateGananciasBrutasPorUnidad();
        updateGananciasNetasPorUnidad();
        updateMargenDeRentabilidad();
        updatePuntoDeEquilibrio();
        updateImpuestosVenta();
    </script>
</body>
</html>