<html>
<head>
    <title>Cuestionario actividades</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });
    </script>
    <script>
        var rowCounter_trabajo = 1;

        function addRow_trabajo() {
            var table = document.getElementById("tabla_sueldos_fijos");
            var newRow = table.insertRow();
            rowCounter_trabajo++;
            newRow.innerHTML = `
                <td><input type="text" name="trabajo_${rowCounter_trabajo}" value="" maxlength="20"></td>
                <td><input type="number" name="cantidad_trabajo_${rowCounter_trabajo}" value="" min="0"></td>
                <td><input type="text" name="unidad_trabajo_${rowCounter_trabajo}" value="" maxlength="15"></td>
                <td><input type="number" name="costo_trabajo_unidad_${rowCounter_trabajo}" step="0.01" value="" min="0.01"></td>
                <td>
                    <select name="autoempleo_${rowCounter_trabajo}">
                        <option value="Sí">Sí</option>                            
                        <option value="No" selected>No</option>
                    </select>
                </td>
                <td class="input-lightgrey"><input class="input-lightgrey" type="number" name="costo_total_trabajo_${rowCounter_trabajo}" step="0.01" value="" min="0" max="999" readonly></td>
            `;
            document.getElementById("rowCounterInput_trabajo").value = rowCounter_trabajo;
        }
    </script>
    <script>
        var rowCounter_insumos = 1;

        function addRow_insumos() {
            var table = document.getElementById("tabla_insumos_fijos");
            var newRow = table.insertRow();
            rowCounter_insumos++;
            newRow.innerHTML = `
                <td><input type="text" name="insumo_${rowCounter_insumos}" value="" maxlength="20"></td>
                <td><input type="number" name="cantidad_${rowCounter_insumos}" value="" min="0"></td>
                <td><input type="text" name="unidad_${rowCounter_insumos}" value="" maxlength="15"></td>
                <td><input type="number" name="costo_unidad_${rowCounter_insumos}" step="0.01" value="" min="0.01" maxlength="23"></td>
                <td class="input-lightgrey"><input class="input-lightgrey" type="number" name="costo_total_${rowCounter_insumos}" step="0.01" value="" min="0" max="999" readonly></td>
            `;
            document.getElementById("rowCounterInput_insumos").value = rowCounter_insumos;
        }
    </script>
</head>
<body>
    <h1>Registro de costos por actividad</h1>
    <h2>Piense en el proceso productivo del producto {{ producto }} y distinga entre las actividades o fases que se requieren para producir {{ cantidad_vendida }} {{ unidad }}.</h2>
    <h2>Ejemplos de actividades: siembra, fertilización, cosecha, limpieza, cocción, ahumado, fermentación, envasado, etiquetado, traslado al punto de venta, etcétera.</h2>
    <h2>Empiece por apuntar el nombre de la primera actividad y los costos que corresponden únicamente a dicha actividad. Dé clic en botón "Enviar" y continúe apuntando las siguientes actividades.</h2>
    <h2>No olvide registrar las distintas ocasiones de una misma actividad si ésta se repite a lo largo del proceso productivo.</h2>

    <p>Actividades registradas hasta ahora:</p>
    {% if nombres_actividades %}
        {% for actividad_registrada in nombres_actividades %}
            <p>{{ actividad_registrada }}</p>
        {% endfor %}
    {% else %}
    <p>Ninguna. Por favor registre la primera actividad:</p>
    <form action="{{ url_for('cuestionario_actividades') }}" method="post">
    <input type="text" name="actividad" value="" maxlength="23" required>
    {% endif %}
    {% if actividad %}
        <br>
        <a href="{{ url_for('cuestionario_actividades') }}"><button class="button">Registrar otra actividad</button></a>
        <a href="{{ url_for('cuestionario_costos_fijos') }}"><button class="button">Apuntar costos fijos</button></a>
        <br>
    {% endif %}
    {% if nombres_actividades and not actividad %}
        <p>Por favor registre la siguiente actividad:</p>
        <form action="{{ url_for('cuestionario_actividades') }}" method="post">
        <input type="text" name="actividad" value="" maxlength="23" required>
    {% endif %}
    {% if lista_trabajo %}
    <p>Éstos son los costos de mano de obra que usted registró para la actividad de {{actividad}}:</p>
    <table>
        <tr>
            <th class="output">Trabajo</th>
            <th class="output">Cantidad</th>
            <th class="output">Unidad</th>
            <th class="output">Costo por<br>unidad</th>
            <th class="output">Auto-<br>empleo</th>
            <th class="output">Costo<br>total</th>
        </tr>
        {% for sublist in lista_trabajo %}
        <tr>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}</td>
            <td>{{ sublist[3] }}</td>
            <td>{{ sublist[4] }}</td>
            <td>{{ sublist[5] }}</td>
            <td>{{ sublist[6] }}</td>        
        </tr>
        {% endfor %}
    </table>
    <br>
    {% endif %}
    {% if lista_insumos %}
    <p>Éstos son los insumos que usted registró para la actividad de {{actividad}}:</p>
    <table>
        <tr>
            <th class="output">Insumo</th>
            <th class="output">Cantidad</th>
            <th class="output">Unidad</th>
            <th class="output">Costo por unidad</th>
            <th class="output">Costo total por insumo</th>
        </tr>
        {% for sublist in lista_insumos %}
        <tr>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}</td>
            <td>{{ sublist[3] }}</td>
            <td>{{ sublist[4] }}</td>
            <td>{{ sublist[5] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if not actividad %}
    <div class="table">
    <p>Si esta actividad implica costos de mano de obra, regístrelos a continuación:</p>
        <table id="tabla_sueldos_fijos"> 
            <tr>
                <th>Trabajo</th>
                <th>Cantidad<br><span>(núm. de hrs., días u otra unidad)</span></th>
                <th>Unidad<br><span>(hrs., días u otra unidad)</span></th>
                <th>Costo por<br>unidad</th>
                <th>Auto-<br>empleo</th>
                <th>Costo<br>total</th>
            </tr>
            <tr>
                <td><input type="text" name="trabajo_1" value="" maxlength="20"></td>
                <td><input type="number" name="cantidad_trabajo_1" value="" min="1"></td>
                <td><input type="text" name="unidad_trabajo_1" value="" maxlength="15"></td>
                <td><input type="number" name="costo_trabajo_unidad_1" step="0.01" value="" min="0.01"></td>
                <td>
                    <select name="autoempleo_1">
                        <option value="Sí">Sí</option>                            
                        <option value="No" selected>No</option>
                    </select>
                </td>
                <td class="input-lightgrey"><input type="number" class="input-lightgrey" name="costo_total_trabajo_1" step="0.01" value="" min="1" max="999" readonly></td>
            </tr>
        </table>
        <input type="hidden" id="rowCounterInput_trabajo" name="rowCounter_trabajo" value="1">
        <br>
        <button type="button" class="add_row" onclick="addRow_trabajo()">Agregar fila</button>
        <br>
        <p>Si esta actividad implica costos de insumos, regístrelos a continuación:</p>
        <form action="{{ url_for('cuestionario_costos_fijos') }}" method="post">
            <table id="tabla_insumos_fijos"> 
                <tr>
                    <th>Insumo</th>
                    <th>Cantidad<br><span>(núm. de unidades)</span></th>
                    <th>Unidad<br><span>(ej.: plantas, cajas, sacos...)</span></th>
                    <th>Costo por<br>unidad</th>
                    <th>Costo<br>total</th>
                </tr>
                <tr>
                    <td><input type="text" name="insumo_1" value="" maxlength="20"></td>
                    <td><input type="number" name="cantidad_1" value="" min="0"></td>
                    <td><input type="text" name="unidad_1" value="" maxlength="15"></td>
                    <td><input type="number" name="costo_unidad_1" step="0.01" value="" min="0.01"></td>
                    <td class="input-lightgrey"><input type="number" class="input-lightgrey" name="costo_total_1" step="0.01" value="" min="1" max="999" readonly></td>
                </tr>
            </table>
            <br>
            <input type="hidden" id="rowCounterInput_insumos" name="rowCounter_insumos" value="1">
            <button type="button" class="add_row" onclick="addRow_insumos()">Agregar fila</button>
            <br>
            <br>
        <button class="send_form" type="submit">Enviar</button>
    </form>
    </div>
    {% endif %}
    {% if actividad %}
        <br>
        <a href="{{ url_for('cuestionario_actividades') }}"><button class="button">Registrar otra actividad</button></a>
        <a href="{{ url_for('cuestionario_costos_fijos') }}"><button class="button">Apuntar costos fijos</button></a>
    {% endif %}
</body>
</html>