<!DOCTYPE html>
<html>
<head>
    <title>Cuestionario costos fijos</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });
    </script>
    <script>
        var rowCounter_trabajo = 1;

        function addRow_trabajo() {
            var table = document.getElementById("tabla_sueldos_fijos");
            var newRow = table.insertRow();
            rowCounter_trabajo++;
            newRow.innerHTML = `
            <td><input type="text" name="trabajo_fijo_${rowCounter_trabajo}" value="" maxlength="23"></td>
            <td><input type="number" name="cantidad_trabajo_fijo_${rowCounter_trabajo}" value="" maxlength="23"></td>
            <td><input type="number" name="sueldo_trabajo_fijo_${rowCounter_trabajo}" value="" maxlength="23"></td>
            <td>
            <input type="number" name="porcentaje_trabajo_fijo_${rowCounter_trabajo}" step="0.1" value="100" min="0" max="100">
            </td>
            <td>
                <select name="autoempleo_fijo_${rowCounter_trabajo}">
                    <option value="Sí">Sí</option>                            
                    <option value="No" selected>No</option>
                </select>
            </td>
            <td><input type="number" name="costo_total_trabajo_fijo_${rowCounter_trabajo}" step="0.1" value="" readonly></td>
            `;
            document.getElementById("rowCounterInput_trabajo").value = rowCounter_trabajo;
        }
    </script>
    <script>
        var rowCounter_insumos = 1;

        function addRow_insumos() {
            var table = document.getElementById("tabla_insumos_fijos");
            var newRow = table.insertRow();
            rowCounter_insumos++;
            newRow.innerHTML = `
                <td><input type="text" name="costo_fijo_${rowCounter_insumos}" value="" maxlength="23"></td>
                <td><input type="number" name="monto_fijo_${rowCounter_insumos}" value="" maxlength="23"></td>
                <td><input type="number" name="porcentaje_costo_fijo_${rowCounter_insumos}" value="100" min="0" max="100"></td>
                <td><input type="number" name="costo_fijo_total_${rowCounter_insumos}" step="0.1" value="" readonly></td>
            `;
            document.getElementById("rowCounterInput_insumos").value = rowCounter_insumos;
        }
    </script>
</head>
<body>
    <h1>Costos fijos del proceso productivo del producto {{producto}}</h1>
    <p>INSERTAR AQUÍ EXPLICACIÓN E INSTRUCCIONES</p>
    {% if sueldos_fijos or costos_fijos %}
    <br>
    <a href="{{ url_for('cuestionario_costos_fijos') }}"><button class="button">Deshacer y repetir registro</button></a>
    <a href="{{ url_for('pregunta_impuestos_venta') }}"><button class="button">Continuar</button></a>
    <br>
    {% endif %}
    {% if sueldos_fijos %}
    <br>
    <p>Éstos son los sueldos fijos que usted registró:</p>
    <table>
        <tr>
            <th>Trabajo realizado</th>
            <th>Número de horas, días o meses</th>
            <th>Sueldo por hora día o mes</th>
            <th>Porcentaje del tiempo dedicado al producto</th>
            <th>Autoempleo</th>
            <th>Costo total por trabajo</th>
        </tr>
        {% for sublist in sueldos_fijos %}
        <tr>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}</td>
            <td>{{ sublist[3] }}</td>
            <td>{{ sublist[4] }}</td>
            <td>{{ sublist[5] }}</td>
            <td>{{ sublist[6] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% endif %}
    {% if costos_fijos %}
    <br>
    <p>Éstos son los insumos fijos que usted registró:</p>
    <table>
        <tr>
            <th>Descripción del costo</th>
            <th>Monto</th>
            <th>Porcentaje correspondiente al producto</th>
            <th>Monto total</th>
        </tr>
        {% for sublist in costos_fijos %}
        <tr>
            <td>{{ sublist[0] }}</td>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}</td>
            <td>{{ sublist[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% endif %}
    {% if sueldos_fijos or costos_fijos %}
            <br>
        <a href="{{ url_for('cuestionario_costos_fijos') }}"><button class="button">Deshacer y repetir registro</button></a>
        <a href="{{ url_for('pregunta_impuestos_venta') }}"><button class="button">Continuar</button></a>
            <br>
    {% else %}
    <p>A continuación, registre los sueldos fijos:</p>
    <form action="{{ url_for('cuestionario_costos_fijos') }}" method="post">
        <table id="tabla_sueldos_fijos"> 
            <tr>
                <th>Trabajo realizado</th>
                <th>Número de horas, días o meses</th>
                <th>Sueldo por hora día o mes</th>
                <th>Porcentaje del tiempo dedicado al producto</th>
                <th>Autoempleo</th>
                <th>Costo total por trabajo</th>
            </tr>
            <tr>
                <td><input type="text" name="trabajo_fijo_1" value="" maxlength="23"></td>
                <td><input type="number" name="cantidad_trabajo_fijo_1" value="" maxlength="23"></td>
                <td><input type="number" name="sueldo_trabajo_fijo_1" value="" maxlength="23"></td>
                <td>
                <input type="number" name="porcentaje_trabajo_fijo_1" step="0.1" value="100" min="0" max="100">
                </td>
                <td>
                    <select name="autoempleo_fijo_1">
                        <option value="Sí">Sí</option>                            
                        <option value="No" selected>No</option>
                    </select>
                </td>
                <td><input type="number" name="costo_total_trabajo_fijo_1" step="0.1" value="" readonly></td>
            </tr>
        </table>
        <input type="hidden" id="rowCounterInput_trabajo" name="rowCounter_trabajo" value="1">
        <button type="button" onclick="addRow_trabajo()">Agregar fila</button>
        <br>
        <p>A continuación, registre los insumos fijos:</p>
        <form action="{{ url_for('cuestionario_costos_fijos') }}" method="post">
            <table id="tabla_insumos_fijos"> 
                <tr>
                    <th>Descripción del costo</th>
                    <th>Monto</th>
                    <th>Porcentaje correspondiente al producto</th>
                    <th>Monto total</th>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_1" value="" maxlength="23"></td>
                    <td><input type="number" name="monto_fijo_1" value="" maxlength="23"></td>
                    <td><input type="number" name="porcentaje_costo_fijo_1" value="100" min="0" max="100"></td>
                    <td><input type="number" name="costo_fijo_total_1" step="0.1" value="" readonly></td>
                </tr>
            </table>
            <input type="hidden" id="rowCounterInput_insumos" name="rowCounter_insumos" value="1">
            <button type="button" onclick="addRow_insumos()">Agregar fila</button>
            <br>
            <br>
        <button type="submit">Enviar</button>
    </form>
    {% endif %}
</body>
</html>