<!DOCTYPE html>
<html>
<head>
    <title>Cuestionario costos fijos</title>
</head>
<body>
    <h1>Apunte los costos fijos que implica el proceso productivo del producto {{producto}}</h1>
    <p>INSERTAR AQUÍ EXPLICACIÓN E INSTRUCCIONES</p>
    {% if costos_fijos|length == 0 and sueldos_fijos|length == 0 %}
    <p>Si su producción no implica costos ni sueldos fijos, haga clic en el botón "omitir":</p>
            <br>
        <a href="{{ url_for('pregunta_impuestos_venta') }}"><button class="button">Omitir</button></a>
            <br>
    <p>Si su producción implica sueldos fijos, regístrelos a continuación:</p>  

    {% else %}
                <br>
        <a href="{{ url_for('cuestionario_costos_fijos') }}"><button class="button">Deshacer y repetir registro</button></a>
        <a href="{{ url_for('pregunta_impuestos_venta') }}"><button class="button">Continuar</button></a>
            <br>
        <p>Estos son los sueldos fijos que usted registró:</p>
    {% endif %}
    <form action="{{ url_for('cuestionario_costos_fijos') }}" method="post">
            <table>
                <tr>
                    <th>Trabajo realizado</th>
                    <th>Número de horas, días o meses</th>
                    <th>Sueldo por hora día o mes</th>
                    <th>Porcentaje del tiempo dedicado al producto</th>
                    <th>Autoempleo</th>
                    <th>Costo total por trabajo</th>
                </tr>    
                <tr>
                    <td><input type="text" name="trabajo_fijo_1" value="{{ trabajo_fijo_1 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_1" value="{{ cantidad_trabajo_fijo_1 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_1" value="{{ sueldo_trabajo_fijo_1 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                    <input type="number" name="porcentaje_trabajo_fijo_1" step="0.1" value="{{ porcentaje_trabajo_fijo_1 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_1" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_1 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_1 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_1" step="0.1" value="{{ costo_total_trabajo_fijo_1 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="trabajo_fijo_2" value="{{ trabajo_fijo_2 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_2" value="{{ cantidad_trabajo_fijo_2 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_2" value="{{ sueldo_trabajo_fijo_2 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_2" step="0.1" value="{{ porcentaje_trabajo_fijo_2 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_2" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_2 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_2 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_2" step="0.1" value="{{ costo_total_trabajo_fijo_2 }}" readonly></td>
                </tr>

                <tr>
                    <td><input type="text" name="trabajo_fijo_3" value="{{ trabajo_fijo_3 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_3" value="{{ cantidad_trabajo_fijo_3 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_3" value="{{ sueldo_trabajo_fijo_3 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_3" step="0.1" value="{{ porcentaje_trabajo_fijo_3 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_3" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_3 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_3 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_3" step="0.1" value="{{ costo_total_trabajo_fijo_3 }}" readonly></td>
                </tr>

                <tr>
                    <td><input type="text" name="trabajo_fijo_4" value="{{ trabajo_fijo_4 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_4" value="{{ cantidad_trabajo_fijo_4 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_4" value="{{ sueldo_trabajo_fijo_4 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_4" step="0.1" value="{{ porcentaje_trabajo_fijo_4 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_4" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_4 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_4 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_4" step="0.1" value="{{ costo_total_trabajo_fijo_4 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="trabajo_fijo_5" value="{{ trabajo_fijo_5 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_5" value="{{ cantidad_trabajo_fijo_5 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_5" value="{{ sueldo_trabajo_fijo_5 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_5" step="0.1" value="{{ porcentaje_trabajo_fijo_5 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_5" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_5 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_5 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_5" step="0.1" value="{{ costo_total_trabajo_fijo_5 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="trabajo_fijo_6" value="{{ trabajo_fijo_6 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_6" value="{{ cantidad_trabajo_fijo_6 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_6" value="{{ sueldo_trabajo_fijo_6 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_6" step="0.1" value="{{ porcentaje_trabajo_fijo_6 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_6" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_6 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_6 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_6" step="0.1" value="{{ costo_total_trabajo_fijo_6 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="trabajo_fijo_7" value="{{ trabajo_fijo_7 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_7" value="{{ cantidad_trabajo_fijo_7 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_7" value="{{ sueldo_trabajo_fijo_7 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_7" step="0.1" value="{{ porcentaje_trabajo_fijo_7 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_7" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_7 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_7 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_7" step="0.1" value="{{ costo_total_trabajo_fijo_7 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="trabajo_fijo_8" value="{{ trabajo_fijo_8 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_8" value="{{ cantidad_trabajo_fijo_8 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_8" value="{{ sueldo_trabajo_fijo_8 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_8" step="0.1" value="{{ porcentaje_trabajo_fijo_8 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_8" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_8 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_8 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_8" step="0.1" value="{{ costo_total_trabajo_fijo_8 }}" readonly></td>
                </tr>

                <tr>
                    <td><input type="text" name="trabajo_fijo_9" value="{{ trabajo_fijo_9 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_9" value="{{ cantidad_trabajo_fijo_9 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_9" value="{{ sueldo_trabajo_fijo_9 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_9" step="0.1" value="{{ porcentaje_trabajo_fijo_9 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_9" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_9 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_9 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_9" step="0.1" value="{{ costo_total_trabajo_fijo_9 }}" readonly></td>
                </tr>

                <tr>
                    <td><input type="text" name="trabajo_fijo_10" value="{{ trabajo_fijo_10 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_10" value="{{ cantidad_trabajo_fijo_10 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_10" value="{{ sueldo_trabajo_fijo_10 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_10" step="0.1" value="{{ porcentaje_trabajo_fijo_10 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_10" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_10 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_10 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_10" step="0.1" value="{{ costo_total_trabajo_fijo_10 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="trabajo_fijo_11" value="{{ trabajo_fijo_11 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_11" value="{{ cantidad_trabajo_fijo_11 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_11" value="{{ sueldo_trabajo_fijo_11 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_11" step="0.1" value="{{ porcentaje_trabajo_fijo_11 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_11" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_11 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_11 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_11" step="0.1" value="{{ costo_total_trabajo_fijo_11 }}" readonly></td>
                </tr>

                <tr>
                    <td><input type="text" name="trabajo_fijo_12" value="{{ trabajo_fijo_12 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_12" value="{{ cantidad_trabajo_fijo_12 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_12" value="{{ sueldo_trabajo_fijo_12 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_12" step="0.1" value="{{ porcentaje_trabajo_fijo_12 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_12" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_12 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_12 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_12" step="0.1" value="{{ costo_total_trabajo_fijo_12 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="trabajo_fijo_13" value="{{ trabajo_fijo_13 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_13" value="{{ cantidad_trabajo_fijo_13 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_13" value="{{ sueldo_trabajo_fijo_13 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_13" step="0.1" value="{{ porcentaje_trabajo_fijo_13 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_13" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_13 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_13 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_13" step="0.1" value="{{ costo_total_trabajo_fijo_13 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="trabajo_fijo_14" value="{{ trabajo_fijo_14 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_14" value="{{ cantidad_trabajo_fijo_14 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_14" value="{{ sueldo_trabajo_fijo_14 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_14" step="0.1" value="{{ porcentaje_trabajo_fijo_14 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_14" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_14 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_14 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_14" step="0.1" value="{{ costo_total_trabajo_fijo_14 }}" readonly></td>
                </tr>

                <tr>
                    <td><input type="text" name="trabajo_fijo_15" value="{{ trabajo_fijo_15 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="cantidad_trabajo_fijo_15" value="{{ cantidad_trabajo_fijo_15 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="sueldo_trabajo_fijo_15" value="{{ sueldo_trabajo_fijo_15 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td>
                        <input type="number" name="porcentaje_trabajo_fijo_15" step="0.1" value="{{ porcentaje_trabajo_fijo_15 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}>
                    </td>
                    <td>
                        <select name="autoempleo_fijo_15" {% if costos_fijos or sueldos_fijos %}disabled{% endif %}>
                            <option value="Sí" {% if autoempleo_fijo_15 == "Sí" %}selected{% endif %}>Sí</option>                            
                            <option value="No" {% if autoempleo_fijo_15 != "Sí" %}selected{% endif %}>No</option>
                        </select>
                    </td>
                    <td><input type="number" name="costo_total_trabajo_fijo_15" step="0.1" value="{{ costo_total_trabajo_fijo_15 }}" readonly></td>
                </tr>
            </table>
            <br>
            {% if costos_fijos|length > 0 or sueldos_fijos|length > 0 %}
            <p>Éstos son los costos fijos que usted registró: </p>
            {% else %}
            <p>Si su producción implica costos fijos, regístrelos a continuación:</p>
            {% endif %}
            <br>
            <table> 
                <tr>
                    <th>Descripción del costo</th>
                    <th>Monto</th>
                    <th>Porcentaje correspondiente al producto</th>
                    <th>Monto total</th>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_1" value="{{ costo_fijo_1 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_1" value="{{ monto_fijo_1 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_1" value="{{ porcentaje_costo_fijo_1 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_1" step="0.1" value="{{ costo_fijo_total_1 }}" readonly></td>
                <tr>
                    <td><input type="text" name="costo_fijo_2" value="{{ costo_fijo_2 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_2" value="{{ monto_fijo_2 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_2" value="{{ porcentaje_costo_fijo_2 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_2" step="0.1" value="{{ costo_fijo_total_2 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_3" value="{{ costo_fijo_3 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_3" value="{{ monto_fijo_3 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_3" value="{{ porcentaje_costo_fijo_3 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_3" step="0.1" value="{{ costo_fijo_total_3 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_4" value="{{ costo_fijo_4 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_4" value="{{ monto_fijo_4 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_4" value="{{ porcentaje_costo_fijo_4 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_4" step="0.1" value="{{ costo_fijo_total_4 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_5" value="{{ costo_fijo_5 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_5" value="{{ monto_fijo_5 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_5" value="{{ porcentaje_costo_fijo_5 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_5" step="0.1" value="{{ costo_fijo_total_5 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_6" value="{{ costo_fijo_6 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_6" value="{{ monto_fijo_6 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_6" value="{{ porcentaje_costo_fijo_6 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_6" step="0.1" value="{{ costo_fijo_total_6 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_7" value="{{ costo_fijo_7 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_7" value="{{ monto_fijo_7 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_7" value="{{ porcentaje_costo_fijo_7 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_7" step="0.1" value="{{ costo_fijo_total_7 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_8" value="{{ costo_fijo_8 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_8" value="{{ monto_fijo_8 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_8" value="{{ porcentaje_costo_fijo_8 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_8" step="0.1" value="{{ costo_fijo_total_8 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_9" value="{{ costo_fijo_9 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_9" value="{{ monto_fijo_9 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_9" value="{{ porcentaje_costo_fijo_9 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_9" step="0.1" value="{{ costo_fijo_total_9 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_10" value="{{ costo_fijo_10 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_10" value="{{ monto_fijo_10 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_10" value="{{ porcentaje_costo_fijo_10 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_10" step="0.1" value="{{ costo_fijo_total_10 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_11" value="{{ costo_fijo_11 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_11" value="{{ monto_fijo_11 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_11" value="{{ porcentaje_costo_fijo_11 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_11" step="0.1" value="{{ costo_fijo_total_11 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_12" value="{{ costo_fijo_12 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_12" value="{{ monto_fijo_12 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_12" value="{{ porcentaje_costo_fijo_12 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_12" step="0.1" value="{{ costo_fijo_total_12 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_13" value="{{ costo_fijo_13 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_13" value="{{ monto_fijo_13 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_13" value="{{ porcentaje_costo_fijo_13 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_13" step="0.1" value="{{ costo_fijo_total_13 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_14" value="{{ costo_fijo_14 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_14" value="{{ monto_fijo_14 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_14" value="{{ porcentaje_costo_fijo_14 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_14" step="0.1" value="{{ costo_fijo_total_14 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="costo_fijo_15" value="{{ costo_fijo_15 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="monto_fijo_15" value="{{ monto_fijo_15 }}" maxlength="23" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_costo_fijo_15" value="{{ porcentaje_costo_fijo_15 }}" min="0" max="100" {% if costos_fijos or sueldos_fijos %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_fijo_total_15" step="0.1" value="{{ costo_fijo_total_15 }}" readonly></td>
                </tr>
            </table>

            {% if costos_fijos|length == 0 and sueldos_fijos|length == 0 %}
            <br>
            <button type="submit" class="button">Enter</button>
    </form>

            {% else %}
            <br>
            <button type="submit" class="button" disabled>Enter</button>
    </form>
                <br>
        <a href="{{ url_for('cuestionario_costos_fijos') }}"><button class="button">Deshacer y repetir registro</button></a>
        <a href="{{ url_for('pregunta_impuestos_venta') }}"><button class="button">Continuar</button></a>
            <br>
            {% endif %}
</body>
</html>