<!DOCTYPE html>
<html>
<head>
    <title>Cuestionario impuestos fijos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });
    </script>
    <script>
        function displayText(modalId) {
          var modal = document.getElementById(modalId);
          modal.style.display = "block";
        }

        function closeModal(modalId) {
          var modal = document.getElementById(modalId);
          modal.style.display = "none";
        }
    </script>
    <script>
        var rowCounter = 1;

        function addRow() {
            var table = document.getElementById("impuestos_fijos_table");
            var newRow = table.insertRow();
            rowCounter++;
            newRow.innerHTML = `
                <td><input type="text" name="impuesto_fijo_${rowCounter}" value="" maxlength="23"></td>
                <td><input type="number" name="monto_${rowCounter}" value="" min="0" step="0.01">
                <td><input type="number" name="porcentaje_${rowCounter}" value="100" min="0" max="100" step="0.01"></td>
                <td class="input-lightgrey"></td>
            `;
            document.getElementById("rowCounterInput").value = rowCounter;
        }
    </script>
</head>
<body>
    <h1>Impuestos fijos</h1>

    {% if impuestos_fijos %}
    <p>Éstos son los impuestos fijos que usted registró:</p>
    <table>
        <tr>
            <th>Nombre <span>del</span><br>impuesto</th>
            <th>Monto</th>
            <th>Porcen-<br>taje</th>
            <th>Monto<br>total</th>
        </tr>
        {% for sublist in impuestos_fijos %}
        <tr>
            <td>{{ sublist[0] }}</td>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}%</td>
            <td>{{ sublist[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="center-aligned">
            <br>
        <a href="{{ url_for('cuestionario_impuestos_fijos') }}"><button class="send_form" style="background-color: #f5b224;">DESHACER<br>REGISTRO</button></a>
        <a href="{{ url_for('pregunta_costos_certificacion') }}"><button class="send_form" style="background-color: #ccde82;">CONTINUAR A COSTOS<br>DE CERTIFICACIÓN</button></a>
    </div>
    <br>
    <img src="{{ url_for('static', filename='images/impuestos_fijos.png') }}" alt="Mapa de las páginas de la herramienta">
    <br>
    <div class="center-aligned">
    <button id="deleteButton" class="send_form" style="background-color: #FF4F4B;"><b>BORRAR TODO Y<br>REGRESAR A INICIO</b></button>
    <div id="confirmationModal" class="modal-reset">
      <div class="modal-reset-content">
        <p>¿Está seguro/a de querer borrar todo y regresar a la página de inicio?</p>
        <div>
          <button class="send_form" id="confirmYes">Sí</button>
          <button class="send_form" id="confirmNo">No</button>
        </div>
      </div>
    </div>
    </div>
    {% else %}
    <p>A continuación, registre los impuestos fijos relacionados con el producto "{{ producto }}":</p>
    <form action="{{ url_for('cuestionario_impuestos_fijos') }}" method="post">
        <table id="impuestos_fijos_table"> 
            <tr>
                <th>Nombre <span>del</span><br>impuesto</th>
                <th>Monto<br>
                  <button class="tutorial" type="button" onclick="displayText('modal2')">CLIC AQUÍ</button>
                  <div id="modal2" class="modal">
                    <div class="modal-content">
                      <span class="close" onclick="closeModal('modal1')">&times;</span>
                      <p class="pop-up">Si incluye un impuesto sobre bienes inmuebles o sobre la tenencia de la tierra, apunte la cantidad total que usted paga y, en la siguiente columna, indique qué porcentaje de dicho impuesto corresponde al producto "{{ producto }}".</p>
                    </div>
                  </div>
                </th>
                <th>Porcentaje<br>
                  <button class="tutorial" type="button" onclick="displayText('modal1')">CLIC AQUÍ</button>
                  <div id="modal1" class="modal">
                    <div class="modal-content">
                      <span class="close" onclick="closeModal('modal1')">&times;</span>
                      <p class="pop-up">Si el impuesto pagado involucra más de un producto o si el periodo cubierto por el pago del impuesto es mayor al tiempo de producción del producto "{{ producto }}", indique qué porcentaje del impuesto corresponde al producto "{{ producto }}". Por ejemplo, si usted paga impuestos por la posesión de un predio donde cultiva cuatro productos diferentes en cantidades iguales, escriba 25 en la columna "Porcentaje".</p>
                    </div>
                  </div>
                </th>
                <th>Monto<br>total</th>
            </tr>
            <tr>
                <td><input type="text" name="impuesto_fijo_1" value="" maxlength="23"></td>
                <td><input type="number" name="monto_1" value="" min="0" step="0.01">
                <td><input type="number" name="porcentaje_1" value="100" min="0" max="100" step="0.01"></td>
                <td class="input-lightgrey"></td>
            </tr>
        </table>
        <input type="hidden" id="rowCounterInput" name="rowCounter" value="1">
        <button type="button" class="add_row" onclick="addRow()">Agregar fila</button>
        <br>
        <div class="center-aligned">
        <button type="submit" class="send_form">REGISTRAR IMPUESTOS</button>
        </div>
        <br>
        <br>
    </form>
    <div class="center-aligned">
    <a href="{{ url_for('pregunta_costos_certificacion') }}"><button class="send_form" style="background-color: #FF6865">OMITIR PÁGINA Y CONTINUAR</button></a>
    </div>
    {% endif %}
</body>
<script>
        // Function to show the confirmation modal
        function showConfirmationModal() {
          const modal = document.getElementById("confirmationModal");
          modal.style.display = "block";
        }

        // Function to close the confirmation modal
        function closeConfirmationModal() {
          const modal = document.getElementById("confirmationModal");
          modal.style.display = "none";
        }

        // Function to redirect to the index page
        function redirectToIndexPage() {
          window.location.href = "/";
        }

        // Event listener for the "Borrar todo y regresar a inicio" button
        document.getElementById("deleteButton").addEventListener("click", showConfirmationModal);

        // Event listener for the "Sí" button in the confirmation modal
        document.getElementById("confirmYes").addEventListener("click", function() {
          redirectToIndexPage();
        });

        // Event listener for the "No" button in the confirmation modal
        document.getElementById("confirmNo").addEventListener("click", function() {
          closeConfirmationModal();
        });
</script>
</html>