<!DOCTYPE html>
<html>
<head>
    <title>Cuestionario impuestos fijos</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });
    </script>
    <script>
        var rowCounter = 1;

        function addRow() {
            var table = document.getElementById("impuestos_fijos_table");
            var newRow = table.insertRow();
            rowCounter++;
            newRow.innerHTML = `
                <td><input type="text" name="impuesto_fijo_${rowCounter}" value="" maxlength="23"></td>
                <td><input type="number" name="monto_${rowCounter}" value="">
                <td><input type="number" name="porcentaje_${rowCounter}" value="100" min="0" max="100"></td>
                <td><input type="number" name="monto_total_${rowCounter}" value="" style="background-color: lightgrey;" readonly></td>
            `;
            document.getElementById("rowCounterInput").value = rowCounter;
        }
    </script>
</head>
<body>
    <h1>Impuestos fijos relacionados con el producto {{ producto }}</h1>
    <p>Notas: Si el impuesto pagado involucra más de un producto o si el periodo cubierto por el pago del impuesto es mayor al tiempo de producción del producto en cuestión, indique qué porcentaje del impuesto correspone al producto en cuestión. Por ejemplo, si usted paga impuestos por la posesión de un predio donde cultiva cuatro productos diferentes en cantidades iguales, escriba 25% en la columna "Porcentaje correspondiente al producto".              
</p>
    {% if impuestos_fijos %}
            <br>
        <a href="{{ url_for('cuestionario_impuestos_fijos') }}"><button class="button">Deshacer y repetir registro</button></a>
        <a href="{{ url_for('pregunta_costos_certificacion') }}"><button class="button">Continuar</button></a>
            <br>
    <p>Éstos son los impuestos fijos que usted registró:</p>
    <table>
        <tr>
            <th>Nombre del impuesto</th>
            <th>Monto</th>
            <th>Porcentaje correspondiente al producto {{ producto }}</th>
            <th>Monto total</th>
        </tr>
        {% for sublist in impuestos_fijos %}
        <tr>
            <td>{{ sublist[0] }}</td>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}</td>
            <td>{{ sublist[3] }}</td>
        </tr>
        {% endfor %}
    </table>
            <br>
        <a href="{{ url_for('cuestionario_impuestos_fijos') }}"><button class="button">Deshacer y repetir registro</button></a>
        <a href="{{ url_for('pregunta_costos_certificacion') }}"><button class="button">Continuar</button></a>
            <br>
    {% else %}
    <p>A continuación, registre los impuestos fijos:</p>
    <form action="{{ url_for('cuestionario_impuestos_fijos') }}" method="post">
        <table id="impuestos_fijos_table"> 
            <tr>
                <th>Nombre del impuesto</th>
                <th>Monto</th>
                <th>Porcentaje correspondiente al producto {{ producto }}</th>
                <th>Monto total</th>
            </tr>
            <tr>
                <td><input type="text" name="impuesto_fijo_1" value="" maxlength="23"></td>
                <td><input type="number" name="monto_1" value="">
                <td><input type="number" name="porcentaje_1" value="100" min="0" max="100"></td>
                <td><input type="number" name="monto_total_1" value="" style="background-color: lightgrey;" readonly></td>
            </tr>
        </table>
        <input type="hidden" id="rowCounterInput" name="rowCounter" value="1">
        <button type="button" onclick="addRow()">Agregar fila</button>
        <br>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% endif %}
</body>
</html>