<!DOCTYPE html>
<html>
<head>
    <title>Cuestionario costos certificación</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });
    </script>
    <script>
        var rowCounter = 1;

        function addRow() {
            var table = document.getElementById("costos-certificacion-table");
            var newRow = table.insertRow();
            rowCounter++;
            newRow.innerHTML = `
                <td><input type="text" name="certificacion_${rowCounter}" value="" maxlength="23"></td>
                <td><input type="number" name="costo_${rowCounter}" value="">
                <td><input type="number" name="porcentaje_${rowCounter}" value="100" min="0" max="100"></td>
                <td><input type="number" name="costo_total_${rowCounter}" value="" readonly></td>
            `;
            document.getElementById("rowCounterInput").value = rowCounter;
        }
    </script>
</head>
<body>
    <h1>Costos de certificación del producto {{ producto }}</h1>
    <p>INSERTAR AQUÍ EXPLICACIÓN E INSTRUCCIONES</p>
    {% if costos_certificacion %}
            <br>
        <a href="{{ url_for('cuestionario_costos_certificacion') }}"><button class="button">Deshacer y repetir registro</button></a>
        <a href="{{ url_for('pregunta_costos_exportacion') }}"><button class="button">Continuar</button></a>
            <br>
    <p>Éstos son los costos de certificación que usted registró:</p>
    <table>
        <tr>
            <th>Certificación</th>
            <th>Costo</th>
            <th>Porcentaje correspondiente al producto {{ producto }}</th>
            <th>Costo total</th>
        </tr>
        {% for sublist in costos_certificacion %}
        <tr>
            <td>{{ sublist[0] }}</td>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}</td>
            <td>{{ sublist[3] }}</td>
            <td>{{ sublist[4] }}</td>
            <td>{{ sublist[5] }}</td>
            <td>{{ sublist[6] }}</td>
        </tr>
        {% endfor %}
    </table>
            <br>
        <a href="{{ url_for('cuestionario_costos_certificacion') }}"><button class="button">Deshacer y repetir registro</button></a>
        <a href="{{ url_for('pregunta_costos_exportacion') }}"><button class="button">Continuar</button></a>
            <br>
    {% else %}
    <p>A continuación, registre los costos de certificación:</p>
    <form action="{{ url_for('cuestionario_costos_certificacion') }}" method="post">
        <table id="costos-certificacion-table"> 
            <tr>
                <th>Certificación</th>
                <th>Costo</th>
                <th>Porcentaje correspondiente al producto {{ producto }}</th>
                <th>Costo total</th>
            </tr>
            <tr>
                <td><input type="text" name="certificacion_1" value="" maxlength="23"></td>
                <td><input type="number" name="costo_1" value="">
                <td><input type="number" name="porcentaje_1" value="100" min="0" max="100"></td>
                <td><input type="number" name="costo_total_1" value="" readonly></td>
            </tr>
        </table>
        <input type="hidden" id="rowCounterInput" name="rowCounter" value="1">
        <button type="button" onclick="addRow()">Agregar fila</button>
        <br>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% endif %}
</body>
</html>