<!DOCTYPE html>
<html>
<head>
    <title>Cuestionario certificaciones</title>
</head>
<body>
    <h1>Apunte los costos de certificación relacionados con el producto {{producto}}</h1>
    <p>INSERTAR AQUÍ EXPLICACIÓN E INSTRUCCIONES</p>
    {% if costos_certificacion|length > 0 %}
                <br>
        <a href="{{ url_for('cuestionario_costos_certificacion') }}"><button class="button">Deshacer y repetir registro</button></a>
        <a href="{{ url_for('pregunta_costos_exportacion') }}"><button class="button">Continuar</button></a>
            <br>
        <p>Estos son los costos de certificación que usted registró:</p>
    {% else %}
        <p>Registre los costos de certificación a continuación:</p>
    {% endif %}
    <form action="{{ url_for('cuestionario_costos_certificacion') }}" method="post">
            <table> 
                <tr>
                    <th>Certificación</th>
                    <th>Costo</th>
                    <th>Porcentaje correspondiente al producto {{ producto }}</th>
                    <th>Costo total</th>
                </tr>
                <tr>
                    <td><input type="text" name="certificacion_1" value="{{ certificacion_1 }}" maxlength="23" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_1" value="{{ costo_1 }}" {% if costos_certificacion %}readonly{% endif %}>
                    <td><input type="number" name="porcentaje_1" value="{{ porcentaje_1 }}" min="0" max="100" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_total_1" value="{{ costo_total_1 }}" readonly></td>
                <tr>
                    <td><input type="text" name="certificacion_2" value="{{ certificacion_2 }}" maxlength="23" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_2" value="{{ costo_2 }}" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_2" value="{{ porcentaje_2 }}" min="0" max="100" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_total_2" value="{{ costo_total_2 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="certificacion_3" value="{{ certificacion_3 }}" maxlength="23" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_3" value="{{ costo_3 }}" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_3" value="{{ porcentaje_3 }}" min="0" max="100" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_total_3" value="{{ costo_total_3 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="certificacion_4" value="{{ certificacion_4 }}" maxlength="23" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_4" value="{{ costo_4 }}" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_4" value="{{ porcentaje_4 }}" min="0" max="100" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_total_4" value="{{ costo_total_4 }}" readonly></td>
                </tr>
                <tr>
                    <td><input type="text" name="certificacion_5" value="{{ certificacion_5 }}" maxlength="23" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_5" value="{{ costo_5 }}" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="porcentaje_5" value="{{ porcentaje_5 }}" min="0" max="100" {% if costos_certificacion %}readonly{% endif %}></td>
                    <td><input type="number" name="costo_total_5" value="{{ costo_total_5 }}" readonly></td>
                </tr>
            </table>

            {% if costos_certificacion|length == 0 %}
            <br>
            <button type="submit" class="button">Enter</button>
    </form>

            {% else %}
            <br>
            <button type="submit" class="button" disabled>Enter</button>
    </form>
                <br>
        <a href="{{ url_for('cuestionario_costos_certificacion') }}"><button class="button">Deshacer y repetir registro</button></a>
        <a href="{{ url_for('pregunta_costos_exportacion') }}"><button class="button">Continuar</button></a>
            <br>
            {% endif %}
</body>
</html>