<!DOCTYPE html>
<html>
<head>
    <title>Cuestionario impuestos venta</title>
    <script>
        var rowCounter = 1;

        function addRow() {
            var table = document.getElementById("impuestos_venta_table");
            var newRow = table.insertRow();
            rowCounter++;
            newRow.innerHTML = `
                <td><input type="text" name="impuesto_venta_${rowCounter}" value="" maxlength="23" ></td>
                <td><input type="number" name="porcentaje_${rowCounter}" value="" min="0" max="100" ></td>
                <td><input type="number" name="unidades_consideradas_${rowCounter}" value="{{ cantidad_vendida }}" min="1" ></td>
            `;
            document.getElementById("rowCounterInput").value = rowCounter;
        }
    </script>
</head>
<body>
    <h1>Impuestos sobre la venta del producto {{ producto }}</h1>
    <p>INSERTAR AQUÍ EXPLICACIÓN E INSTRUCCIONES</p>
    {% if impuestos_venta %}
            <br>
        <a href="{{ url_for('cuestionario_impuestos_venta') }}"><button class="button">Deshacer y repetir registro</button></a>
        <a href="{{ url_for('pregunta_impuestos_fijos') }}"><button class="button">Continuar</button></a>
            <br>
    <p>Éstos son los impuestos que usted registró:</p>
    <table>
        <tr>
            <th>Nombre del impuesto</th>
            <th>Porcentaje</th>
            <th>Unidades consideradas</th>
        </tr>
        {% for sublist in impuestos_venta %}
        <tr>
            <td>{{ sublist[0] }}</td>
            <td>{{ sublist[1] }}</td>
            <td>{{ sublist[2] }}</td>
        </tr>
        {% endfor %}
    </table>
            <br>
        <a href="{{ url_for('cuestionario_impuestos_venta') }}"><button class="button">Deshacer y repetir registro</button></a>
        <a href="{{ url_for('pregunta_impuestos_fijos') }}"><button class="button">Continuar</button></a>
            <br>
    {% else %}
    <p>A continuación, registre los impuestos sobre la venta:</p>
    <form action="{{ url_for('cuestionario_impuestos_venta') }}" method="post">
        <table id="impuestos_venta_table"> 
            <tr>
                <th>Nombre del impuesto</th>
                <th>Porcentaje</th>
                <th>Unidades consideradas</th>
            </tr>
            <tr>
                <td><input type="text" name="impuesto_venta_1" value="" maxlength="23" ></td>
                <td><input type="number" name="porcentaje_1" value="" min="0" max="100" ></td>
                <td><input type="number" name="unidades_consideradas_1" value="{{ cantidad_vendida }}" min="1" ></td>
            </tr>
        </table>
        <input type="hidden" id="rowCounterInput" name="rowCounter" value="1">
        <button type="button" onclick="addRow()">Agregar fila</button>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% endif %}
</body>
</html>