<!DOCTYPE html>
<html>
<head>
    <title>Herramienta cálculo costos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>HERRAMIENTA PARA EL CÁLCULO<br>DE COSTOS, INGRESOS Y GANANCIAS</h1>
    <p style="text-align: center; color: #94ba29; font-size: 38px;"><em><b>Coloque su celular en posición horizontal</b></em></p>
    <p><b>Esta herramienta le ofrece:</b></p>
        <ul>
            <li>Cálculo de costos totales y por unidad.</li>
            <li>Resumen de costos por categoría.</li>
            <li>Distintas opciones de precios con sus respectivos márgenes de ganancia y puntos de equilibrio.</li>
            <li>Reporte final en formato PDF.</li>
        </ul>
    <p><b>Consideraciones importantes:</b></p>
        <ul>
            <li>Esta herramienta calcula los costos de un único producto a la vez.</li>
            <li>La herramienta no almacena sus datos, por lo que deberá indicar todos los costos de una sola vez.</li>
            <li>La herramienta le permite ingresar datos sobre las siguientes seis categorías:</li>
        </ul>
    <img src="{{ url_for('static', filename='images/index.png') }}" alt="Mapa de las páginas de la herramienta">
    <br>
    <br>
    <div class="center-aligned">
    <a href="{{ url_for('ventas') }}"><button class="send_form">COMENZAR REGISTRO DE COSTOS</button></a>
    </div>
</body>
</html>