<!DOCTYPE html>
<html>
<head>
    <title>Herramienta cálculo costos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>HERRAMIENTA PARA EL CÁLCULO<br>DE COSTOS, INGRESOS Y GANANCIAS</h1>
    <p class="color-emphasis"><em><b>Coloque su celular en posición horizontal</b></em></p>
    <p class="pre_bullet_list"><b>Esta herramienta le ofrece:</b></p>
        <ul>
            <li>Cálculo de costos totales, por categoría y por unidad</li>
            <li>Opciones de precios para estimar ganancias totales y por unidad</li>
            <li>Reporte final descargable en formato PDF</li>
        </ul>
    <p class="pre_bullet_list" style="color: darkcyan"><b>IMPORTANTE:</b></p>
        <ul>
            <li>Los cálculos son para <span class="text-highlight">un único producto a la vez.</span></li>
            <li><span class="text-highlight">No se almacenan sus datos:</span> apunte todos los costos de una sola vez</li>
            <li>Podrá ingresar datos sobre las siguientes <span class="text-highlight">seis categorías:</span></li>
        </ul>
    <img src="{{ url_for('static', filename='images/index.png') }}" alt="Mapa de las páginas de la herramienta">
    <br>
    <br>
    <div class="center-aligned">
    <a href="{{ url_for('ventas') }}"><button class="send_form">COMENZAR REGISTRO DE COSTOS</button></a>
    </div>
</body>
</html>