<!DOCTYPE html>
<html>
<head>
    <title>Herramienta cálculo costos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>HERRAMIENTA PARA EL CÁLCULO DE COSTOS, INGRESOS Y GANANCIAS</h1>
    <p>Tiene a su disposición una herramienta lo más sencilla posible para saber cuánto dinero le cuesta producir una cierta cantidad de algún producto y cuántas ganancias (o pérdidas) genera la venta de dicho producto.</p>
    <p>La herramienta está diseñada para calcular los costos de un lote de producción específico; por ejemplo, una cosecha específica de un cultivo, una cierta cantidad de galones de vino, un lote de jaleas o galletas, etcétera.</p>
    <p>La herramienta no está diseñada para llevar la contabilidad completa de un negocio.</p>
    <p>La herramienta le permitirá ingresar datos sobre las siguientes categorías de costos:</p>
    <p>----------Insumos de producción</p>
    <p>----------Costos de mano de obra</p>
    <p>----------Costos fijos</p>
    <p>----------Sueldos fijos</p>
    <p>----------Impuestos sobre la venta</p>
    <p>----------Impuestos fijos</p>
    <p>----------Costos de certifiación</p>
    <p>----------Costos de exportación</p>
    <p>Por favor lea las instrucciones en cada página antes de empezar a ingresar los datos</p>
    <br>
    <a href="{{ url_for('ventas') }}"><button>Iniciar</button></a>
</body>
</html>