<!DOCTYPE html>
<html>
<head>
    <title>¿Incluir impuestos sobre la venta?</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>¿Quiere incluir impuestos sobre la venta en el cálculo de costos?</h1>
    <div class="center-aligned">
        <p><b>Definición:</b> impuestos aplicados a las ventas, expresados como un porcentaje del valor de la venta<br>
        (<em>no confundir</em> con impuestos pagados por el consumidor)</p>
    <form>
        <label>
            <button type="button" class="send_form" onclick="window.location.href='/cuestionario_impuestos_venta'" style="background-color: #99EE90;">Sí</button>
        </label>
        <label>
            <button type="button" class="send_form" onclick="window.location.href='/pregunta_impuestos_fijos'" style="background-color: #FF4F4B;">No</button>
        </label>
        <br><br>
    </form>
    </div>
</body>
</html>