<!DOCTYPE html>
<html>
<head>
    <title>Considerar Impuestos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>¿Quiere incluir impuestos fijos en el cálculo de costos?</h1>
    <h2>Ejemplo: impuesto predial</h2>
    <form>
        <label>
            <button type="button" onclick="window.location.href='/cuestionario_impuestos_fijos'">Sí</button>
        </label>
        <label>
            <button type="button" onclick="window.location.href='/pregunta_costos_certificacion'">No</button>
        </label>
        <br><br>
    </form>
</body>
</html>