<!DOCTYPE html>
<html>
<head>
    <title>Considerar Impuestos</title>
</head>
<body>
    <h1>¿Quiere incluir costos de certificación en el cálculo de costos?</h1>
    <form>
        <label>
            <button type="button" onclick="window.location.href='/cuestionario_costos_certificacion'">Sí</button>
        </label>
        <label>
            <button type="button" onclick="window.location.href='/pregunta_costos_exportacion'">No</button>
        </label>
        <br><br>
    </form>
</body>
</html>