<!DOCTYPE html>
<html>
<head>
    <title>Actividades</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });
    </script>
</head>
<body>
    <h1>Actividades necesarias para producir {{ cantidad_vendida }} {{ unidad }} de {{ producto }}</h1>
    <form action="{{ url_for('pregunta_actividades') }}" method="POST">
    {% if nombres_actividades %}
    <p>Actividades registradas hasta ahora:</p>
    <p class="activity-list">
        {% for i in range(nombres_actividades|length) %}
            {% set counter = i + 1 %}
            <span class="activity-item">{{ counter }}. {{ nombres_actividades[i] }}</span>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>Escriba el nombre de <span class="text-highlight">la siguiente</span> actividad necesaria para producir <span class="text-highlight"> {{ cantidad_vendida }} {{ unidad }} de {{ producto }}:</span>
    {% else %}
    <p>Escriba el nombre de <span class="text-highlight">la primera</span> actividad necesaria para producir <span class="text-highlight">{{ cantidad_vendida }} {{ unidad }} de {{ producto }}:</span></p>
    {% endif %}
    <div class="center-aligned">
    <input type="text" class="input-text" name="actividad" value="" maxlength="23" required>
        <br>
        <br>
        <button type="submit" class="send_form">REGISTRAR Y CONTINUAR</button>
    </div>
    </form>
</body>
</html>