<!DOCTYPE html>
<html>
<head>
    <title>Producción</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Registro de producción</h1>
    <p>Por favor indique el nombre del producto y cuántas unidades tomará en cuenta para el cálculo de costos.</p>
    <p>Ejemplos de unidades: cajas, botellas, frascos, sacos, bolsas, piezas, etcétera.</p>
    <form action="{{ url_for('ventas') }}" method="POST">
        <table>
            <tr>
                <th>Nombre del<br>producto</th>
                <th>Cantidad<br>producida</th>
                <th>Unidad<br><span>(ej.: cajas, frascos, prendas)</span></th>
            </tr>
            <tr>
                <td><input type="text" name="producto" value="{{ producto }}" required></td>
                <td><input type="number" name="cantidad_vendida" step="any" value="{{ cantidad_vendida }}" required></td>
                <td><input type="text" name="unidad" value="{{ unidad }}" required></td>
            </tr>
        </table>
        <br>
        <a href="{{ url_for('pregunta_actividades') }}"><button type="submit" class="send_form">REGISTRAR Y CONTINUAR</button></a>

    </form>
</body>
</html>